.prerequisites ol li {
  margin-left: 18px;
  font-size: 20px;
}

.prerequisites ol li a {
  color: var(--theme-color);
  text-decoration: underline;
}

.prerequisites ol li a:hover {
  color: #a1887f;
}
